html,body{
    margin: 0px;
    background: url('pk.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 900px;
    width: 100% ;
    z-index: -1;
    opacity: .8;

}
.page{
    display: flex;
    padding:0px 5px;
    background-color: aqua;
    top: 0;
   

 }
 #r{
    height: 100px;
    width: 70px;
    
    }
 .page ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
     margin-left: 500px;
    
 }
 .page ul li{
     font-family: century;
     font-size: 1.1rem;
     font-weight: bold;
     
    
 }
 .page ul li a{
     text-decoration: none;
     color:black;
     padding: 8px 25px; 
     float: right;
     
}
image{
    height: 100%;
    width: 100%;
}

.signup-box {

    width: 360px;
    height:200px;
    margin:50% 10% 70% 7%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
  }
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }

  